.background {
  height: 100vh;
  background-color: rgb(190, 255, 255);
}

.wholeShift {
  display: flex;
  flex-direction: row;
  height: 150px;
  align-items: center;
  justify-content: center;
}

.shiftDescriptions {
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.twoRow {
  display: flex;
  flex-direction: row;
  height: 100px;
  border: 1px solid red;
  margin-left: 5px;
}

.letterBoxes {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  font-size: 18px;
  width: 40px;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 15% 35% 35% 15%;
  justify-items: center;
  align-items: center;
  height: 200px;
}

.inputBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.buttonContainer {
  height: 100px;
  width: 25%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.input {
  grid-column: 2 / 3;
}

.encoded {
  grid-column: 3 / 4;
  justify-items: center;
}

.heading1 {
  text-align: center;
}

.largerText {
  font-size: 18px;
}

.submit {
  margin-left: 1em;
}